@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html.high-contrast {
    filter: contrast(1.25);
  }

  html.high-contrast body {
    @apply bg-white text-black;
  }

  html.high-contrast .dark body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
